<% include partials/base -%>
  <%- include('partials/header', {selected:"plant"}) %>
    <section class="container col-10 mt-2 rounded bg-light">
      <form id="addPlant" class="">
        <div class="pt-4 pb-4 pr-1 pl-1">
          <div class="row mb-2 justify-content-center">
            <div class="col-md-5 d-flex align-items-center align-items-center">
              <!-- back icon material -->
              <div class="d-flex align-items-center align-items-center">
                <a href="/plant" style="color: black;">

                  <i class="material-icons align-items-center" id="back">
                    arrow_back
                  </i>
                </a>
                Regresar

              </div>
            </div>
            <div class="col-md-6 d-flex justify-content-end">

              <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </div>

          <div class="row justify-content-center">
            <div class="form-group p-3 col-md-5 left">
              <div class="row col-md-12">
                <label for="scientificname">Nombre Científico</label>
                <input type="text" class="" id="scientificname" required>
              </div>
              <div class="row col-md-12">
                <label for="name">Nombre Común</label>
                <input type="text" class="" id="name" required>

              </div>
              <div class="row col-md-12">
                <label for="description">Descripción</label>
                <textarea style="height: 4rem;" class="" name="description" id="description" cols="30" rows="2"
                  required></textarea>
              </div>

            </div>
            <div class="form-group p-3 col-md-6 left">
              <div class="form-group  moreImages">
                <label class="form-row form-label" for="">Imágenes</label>
                <input class="form-row " type="file" name="image" id="images" accept="image/jpg, image/png, image/jpeg"
                  multiple>
                <div class="images" id="imgsContent"></div>

                <div class="form-group">
                  <label for="descriptionImages" class="form-row">Descripcion para alumnos</label>
                  <input type="text" name="" id="descriptionImages">
                </div>

              </div>


            </div>

          </div>
          <div class="row justify-content-center">
            <div class="form-group p-3 col-md-5 left">
              <div class="col-12 ">
                <div class="row">
                  <label class="" for="">Parte Espcífica</label>
                  <a class="btn btn-secondary ml-5" href="#openaddPartPlant" data-toggle="modal"
                    role="button">Agregar</a>
                </div>

                <div class="form-group" id="parts">

                </div>
              </div>
            </div>
            <div class="form-group p-3 col-md-6 left">
              <div class="col-12 ">
                <div class="row">
                  <label class="" for="">Referencias</label>
                  <a class="btn btn-secondary ml-5" href="#openaddReference" data-toggle="modal"
                    role="button">Agregar</a>
                </div>
                <div class="form-group" id="references">

                </div>
              </div>

            </div>


          </div>



        </div>
      </form>
    </section>

    <div id="openaddReference" class="modal fade">
      <div class="modal-dialog modal-">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Agrega Referencia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
            <div class="form-group ">
              <div class="form-row pb-1">
                <label for="province">Provincia</label>
                <select id="province" class="form-control">
                  <% for( let index=0; index < provinces.length; index++ ) { %>

                    <option value=<%=provinces[index].id %> ><%= provinces[index].name %>
                    </option>
                    <% } %>
                </select>
              </div>
              <div class="form-row  pb-1">
                <label for="canton">Canton</label>
                <select id="canton" class="form-control">
                  <% for( let index=0; index < provinces[0].cantons.length; index++ ) { %>
                    <option value=<%=provinces[0].cantons[index].id %> ><%= provinces[0].cantons[index].name %>
                    </option>
                    <% } %>
                </select>
              </div>

              <div class="form-row ">
                <label for="locality">Locatidad</label>
                <input type="text" class="form-control" id="locality" placeholder="Locatidad">

              </div>


            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-primary" id="addReference">Agregar Referencia</button>
          </div>
        </div>
      </div>
    </div>
    <div id="openaddPartPlant" class="modal fade">
      <div class="modal-dialog modal-">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Agrega parte de planta</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <form id="addPart">
            <div class="modal-body text-center">
              <div class="form-group ">

                <div class="form-row pb-2">
                  <label for="name">Nombre</label>
                  <input type="text" class="form-control" id="namePart" placeholder="Nombre" required>

                </div>
                <div class="form-row ">
                  <label for="locality">Descripcion</label>
                  <input type="text" class="form-control" id="partDescripcion" placeholder="Descripcion">

                </div>


              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" class="btn btn-primary">Agregar</button>
            </div>
          </form>

        </div>
      </div>
    </div>


    <% include partials/footer %>
      <script type="module" src="/js/addPlant.js"></script>
      <script>

        $('#province').on('change', function () {
          $('#canton').html('');
          $("#canton").val([]);
          //console.log($('#province').val());

          $.ajax({
            method: "GET",
            url: `/api/province/${$('#province').val()}`,

          }).done(function (msg) {
            //console.log(msg);
            let cantonsOptions;
            if (msg.length <= 0) {
              cantonsOptions = '<option value="0">Sin padre</option>'
            } else {
              $.each(msg.cantons, function (i, canton) {
                cantonsOptions += '<option value=' + canton.id + '>' + canton.name +
                  '</option>';
              });
            }
            $('#canton').html(cantonsOptions);
          });
        });

      </script>